@model Otter

<h1>Welcome @Model.Name!!!</h1>
<a href="/vacation/new">Plan Vacation</a>

<div class="row">
    @foreach( Vacation v in Model.PlannedVacations )
    {
        <div class="card col-sm-4">
            <div class="card-header">
                <h2 class="card-title">@v.Destination</h2>
            </div>
            <img src="@v.ImgUrl" class="card-img-top" alt="@v.Destination">
        </div>
    }

</div>